/** @format */

.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;

	text-align: center;
}

.btn-container {
	display: flex;

	justify-content: center;
    flex-direction: column;
}

.btn {
	height: 200px;
	width: 200px;
	border: 10px solid black;
	border-radius: 15%;
	margin: 2rem;
}

.red {
	background-color: #ff8a8a;
}

.yellow {
	background-color: #ffff5c;
}
.green {
	background-color: #4fffb0;
}

.pruple {
	background-color: #c576f6;
}

.flshbtn {
	background-color: white;
}
